# OS
.DS_Store

# Dependencies
node_modules/
.pnpm-store/

# Builds
build/
dist/
.astro/

# Env
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tooling
.cache/
coverage/
.turbo/
.vscode/
.idea/
.github/